@import "./../../styles/variables";

.header {
  padding: 0;
  background-color: $black;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1265px;
    padding: 16px 10px;
    margin: 0 auto;
    box-sizing: border-box;

    .logo {
      font-weight: 600;
      white-space: nowrap;
      padding: 6px 12px;
      border: 1px solid rgba(255, 255, 255, 0.2); // subtle border
      border-radius: 6px;
      color: $white;
      background: rgba(255, 255, 255, 0.05); // optional subtle background
      transition: all 0.3s ease;
      
      i {
        margin-right: 8px;
      }

      font-weight: 600;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .wrap {
      flex-direction: column;

      .logo {
        margin-bottom: 20px;
      }
    }
  }
}
